.aleki {
  font-family: serif;
  background-image: url("../assets/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal;
  background-blend-mode: overlay;
}
